{{!-- Just some plain text --}}
<h1> Area 57 Construction</h1>
    <div id="navBar">
        <a href="./">Home</a> |
        <a href="./JobSites">Jobs</a> |
        <a href="./Tasks">Tasks</a> |
        <a href="./Contractors">Contractors</a> |
        <a href="./Trades">Trade</a> |
        <a href="./ContractorsTrades">Contractors Trades</a>
    </div>
<h2>Jobs: captures active jobsite locations, description, timeline and budget. </h2>

{{!--jquery for delete operation--}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table id="JobSite-table">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Jobsite Address</th>
            <th>Zipcode</th>
            <th>Job Description</th>
            <th>Start</th>
            <th>Complete</th>
            <th>Cost</th>
            <th>Budget</th>
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody id="JobSite-table-body">
        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr job-value={{this.JobSiteID}}>
            <td><a href="#" onClick="updateJob({{this.JobSiteID}})">Edit</a></td>
            <td>{{this.JobSiteID}}</td>
            <td>{{this.JobAddress}}</td>
            <td class="rightA">{{this.JobZipcode}}</td>
            <td>{{this.JobDescription}}</td>
            <td class="date">{{this.Date_Start}}</td>
            <td class="date">{{this.Date_Complete}}</td>
            <td class="rightA">{{this.JobCost}}</td>
            <td class="rightA">{{this.JobBudget}}</td>
            <td><a href="#" onClick="deleteJob({{this.JobSiteID}})">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>
<button onClick="showAddNew()">Add New</button><br><br>


{{!-- Form to add a record to the table using AJAX --}}
<form id="add-JobSite-form-ajax">
    <legend> Add New Job </legend>
    <fieldset class="fields">
        <label for="input-address">Address: </label>
        <input type="text" name="input-address" id="input-address" size="100" minlength="10" required>
        <span class="tab4"></span>

        <label for="input-zipCode">Zip Code: </label>
        <input type="number" name="input-zipCode" id="input-zipCode" max="99999" min="501" required><br>

        <label for="input-description">Description: </label>
        <input type="text" name="input-description" id="input-description" size="150"><br>

        <label for="input-startDate">Start Date: </label>
        <input type="date" name="input-startDate" id="input-startDate" required>
        <span class="tab4"></span>

        <label for="input-endDate">End Date: </label>
        <input type="date" name="input-endDate" id="input-endDate"><br>

        <label for="input-jobCost">Job Cost: </label>
        <input type="number" name="input-jobCost" id="input-jobCost" min="0" step=".01" required>
        <span class="tab4"></span>

        <label for="input-jobBudget">Job Budget: </label>
        <input type="number" name="input-jobBudget" id="input-jobBudget" min="0" step=".01" required><br>
    </fieldset>
    <button class=btn type="submit" id="addJob">Add New</button>
    <button class=btn type="button" value="cancel" onClick="showTable()">Cancel</button>

</form>

{{!-- Form to update a record to the table using AJAX --}}
<form id="update-JobSite-form-ajax">
    <legend> Update Job </legend>
    <fieldset>
            <label for="pass-JobSiteID">JobSiteID: <b><label name="pass-JobSiteID" id="pass-JobSiteID" value=""></label></b></label><br>

            <label for="update-address">Address: </label>
            <input type="text" name="update-address" id="update-address" value="" size="100" minlength="10" required>
            <span class="tab4"></span>

            <label for="update-zipCode">Zip Code: </label>
            <input type="number" name="update-zipCode" id="update-zipCode" value="" max="99999" min="501" required><br>

            <label for="update-description">Description: </label>
            <input type="text" name="update-description" id="update-description" size="150" value=""><br>

            <label for="update-startDate">Start Date: </label>
            <input type="date" name="update-startDate" id="update-startDate" value="" required>
            <span class="tab4"></span>

            <label for="update-endDate">End Date: </label>
            <input type="date" name="update-endDate" id="update-endDate" value=""><br>

            <label for="update-jobCost">Job Cost: </label>
            <input type="number" name="update-jobCost" id="update-jobCost" value="" min="0" step=".01" required>
            <span class="tab4"></span>

            <label type="update-jobBudget">Job Budget: </label>
            <input type="number" name="update-jobBudget" id="update-jobBudget" value="" min="0" step=".01" required><br>
    </fieldset>
    <button class=btn type="submit" id="updatejob">Update</button>
    <button class=btn type="button" value="cancel" onClick="showTable()">Cancel</button>
</form>


{{!-- Form to delete a record to the table using AJAX --}}
<form method="DELETE" id="delete-JobSite-ajax">
    <legend>Delete Job</legend>
    <fieldset>
        <label>Are you sure you would like to remove job <label name="pass_JobID" id="pass-JobID" value=""></label>?</label>
    </fieldset>
    <button class=btn type="delete" id="deleteJob" onClick="deleteJobSite()">Delete</button>
    <button class=btn type="button" value="cancel" onClick="showTable()">Cancel</button>
</form>

{{!--Set views--}}
    <script>
        function showTable() {
            document.getElementById("JobSite-table").style.display = "block";
            document.getElementById("add-JobSite-form-ajax").style.display = "none";
            document.getElementById("update-JobSite-form-ajax").style.display = "none";
            document.getElementById("delete-JobSite-ajax").style.display = "none";
        }
        //default show table on load
        showTable()
    </script>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_JobSite.js"></script>
<script src="./js/update_JobSite.js"></script>
<script src="./js/delete_JobSite.js"></script>