{{!-- Just some plain text --}}
    <h1> Area 57 Construction</h1>
    <div id="navBar">
        <a href="./JobSites">Jobs</a> |
        <a href="./Tasks">Tasks</a> |
        <a href="./Contractors">Contractors</a> |
        <a href="./Trades">Trade</a> |
        <a href="./ContractorsTrades">Contractors Trades</a>
    </div>
    <br>


{{!--jquery for delete operation--}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table id="Task-table">
    <thead>
        <tr>
            <th></th>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr task-value={{this.TaskID}}>
            <td><a href="#" onClick="updateTask({{this.TaskID}})">Edit</a></td>
            <td>{{this.JobSiteID}}</td>
            <td>{{this.JobAddress}}</td>
            <td class="rightA">{{this.JobZipcode}}</td>
            <td>{{this.JobDescription}}</td>
            <td>{{this.JobStart}}</td>
            <td>{{this.JobCompleted}}</td>
            <td class="rightA">{{this.JobCost}}</td>
            <td class="rightA">{{this.JobBudget}}</td>
            <td><a href="#" onClick="deleteTask({{this.TaskID}})">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>
<button onClick="showAddNew()">Add New</button><br><br>


{{!-- Form to add a record to the table using AJAX --}}
<form id="add-Task-form-ajax">
    <legend> Add New Task </legend>
    <fieldset class="fields">
        <label for="input-address">Address: </label>
        <input type="text" name="input-address" id="input-address" size="100">

        <label for="input-zipCode">Zip Code: </label>
        <input type="number" name="input-zipCode" id="input-zipCode"><br>

        <label for="input-description">Description: </label>
        <input type="text" name="input-description" id="input-description" size="150"><br>

        <label for="input-startDate">Start Date: </label>
        <input type="date" name="input-startDate" id="input-startDate">

        <label for="input-endDate">End Date: </label>
        <input type="date" name="input-endDate" id="input-endDate"><br>

        <label for="input-jobCost">Job Cost: </label>
        <input type="text" name="input-jobCost" id="input-jobCost">

        <label for="input-jobBudget">Job Budget: </label>
        <input type="text" name="input-jobBudget" id="input-jobBudget"><br>

        <button class=btn type="submit" id="addJob" onClick="showTable()">Add New</button>
        <button class=btn type="button" value="cancel" onClick="showTable()">Cancel</button>
    </fieldset>
</form>

{{!-- Form to update a record to the table using AJAX --}}
<form id="update-JobSite-form-ajax">
    <legend> Update Job </legend>
    <fieldset>
            <label for="pass-JobSiteID">JobSiteID (readonly): </label>
            <input type="number" name="pass-JobSiteID" id="pass-JobSiteID" value="" readonly>

            <label for="update-address">Address: </label>
            <input type="text" name="update-address" id="update-address" value="9959 West Longfellow St., Federal Way, WA" size="100">

            <label for="update-zipCode">Zip Code: </label>
            <input type="number" name="update-zipCode" id="update-zipCode" value="92347">

            <label for="update-description">Description: </label>
            <input type="text" name="update-description" id="update-description" size="150" value=".2 acre lot with 2300 SF home flat wooded lot with connection to city water and sewer."><br>

            <label for="update-startDate">Start Date: </label>
            <input type="date" name="update-startDate" id="update-startDate" value="2020-08-02">

            <label for="update-endDate">End Date: </label>
            <input type="date" name="update-endDate" id="update-endDate" value="2020-08-04"><br>

            <label for="update-jobCost">Job Cost: </label>
            <input type="text" name="update-jobCost" id="update-jobCost" value="472114">

            <label type="update-jobBudget">Job Budget: </label>
            <input type="text" name="update-jobBudget" id="update-jobBudget" value="500000"><br>
    </fieldset>
    <button class=btn type="submit" id="updatejob" onClick="showTable()">Update</button>
    <button class=btn type="button" value="cancel" onClick="showTable()">Cancel</button>
</form>


{{!-- Form to delete a record to the table using AJAX --}}
<form method="DELETE" id="delete-Task-ajax">
    <legend>Delete Task</legend>
    <fieldset>
        <label>Are you sure you would like to remove this task?</label>
    </fieldset>
    <button class=btn type="delete" id="deleteTask" onClick="deleteTask()">Yes Delete</button>
    <button class=btn type="button" value="cancel" onClick="showTable()">Cancel</button>
</form>

{{!--Set views--}}
    <script>
        function showTable() {
            document.getElementById("Task-table").style.display = "block";
            document.getElementById("add-Task-form-ajax").style.display = "none";
            document.getElementById("update-Task-form-ajax").style.display = "none";
            document.getElementById("delete-Task-ajax").style.display = "none";
        }
        //default show table on load
        showTable()
    </script>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_Task.js"></script>
<script src="./js/update_Task.js"></script>
<script src="./js/delete_Task.js"></script>
